@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--Desaturated-Red);
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 375px;
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px 40px;
    align-self: flex-start;
}

.bottom {
    padding: 30px;
    position: relative;
}

h1 {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    font-weight: 300;
    line-height: 1.1;
}

.black-txt {
    color: var(--Dark-Grayish-Red);
    font-weight: 600;
}

.bottom p {
    text-align: center;
    line-height: 1.4;
    font-size: 14px;
    margin: 25px 0;
}

.input {
    padding: 12px 15px;
    width: 90%;
    border-radius: 20px;
    border: 1.5px solid hsl(0, 10%, 89%);
    background: transparent;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: var(--Desaturated-Red);
    padding-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    opacity: .4;
}

.form-control {
    position: relative;
}

#error-icon {
    position: absolute;
    top: 9px; 
    right: 80px;
    display: none;
}

small{
    color: var(--Soft-Red);
    display: none;
    margin-left: 15px;
    padding-top: 5px;
}

.error {
    display: block;
}

.form-control button {
    width: 60px;
    position: absolute;
    right: 10px;
    padding: 10px 0;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 5px 16px 0px hsl(0, 80%, 86%);
    cursor: pointer;
}

form button:hover {
    background: hsl(0, 80%, 76%);
}

form button:active {
    background: hsl(0, 80%, 89%);
}

.attribution {
    text-align: center;
    background: transparent;
}

a {
    color: var(--Dark-Grayish-Red);
}

@media (min-width:600px) {
    header {
        position: absolute;
        padding: 50px 40px;
        z-index: 1;
    }

    main {
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        align-items: center;
    }

    .right {
        background: transparent;
        order: 1;
        display: flex;
    }

    .hero {
        width: 98%;
        border-radius: 10px;
    }

    .bottom {
        background: url("/images/bg-pattern-desktop.SVG") no-repeat;
        background-size: cover;
        width: 80%;
    }

    h1 {
        font-size: 36px;
        text-align: start;
        padding-left: 15px;
    }

    .bottom p {
        padding-left: 15px;
        text-align: start;
    }

    #error-icon{
        right: 80px;
    }

    .form-control button {
        width: 65px;
        margin-top: -0.9px;
        padding:10px 0 ;
    }
}

@media (min-width:821px) {
    main {
        background: url("/images/bg-pattern-desktop.SVG") no-repeat;
        background-position: left;
        background-size: contain;
    }

    header {
        left: 6%;
    }

    .right {
        height: 100%;
    }

    .hero {
        position: absolute;
        right: 0;
        height: 100%;
        width: auto;
        border-radius: 0;
    }

    .bottom {
        position: absolute;
        left: 7%;
        width: 450px;
        margin: auto 0;
        background: transparent;
    }

    h1 {
        font-size: 56px;
        padding-left: 0;
    }

    .bottom p {
        padding-left: 0;
        margin-bottom: 30px;
    }

    .input {
        width: 98%;
        padding-left: 20px;
    }

    #error-icon{
        right: 90px;
    }

    small {
        padding-left: 5px;
    }

    .form-control button {
        width: 80px;
        right: 0;
    }

    .attribution {
        position: absolute;
        bottom: 0;
        left: 10%;
    }

    @media (min-width:1280px){
        main{
            background-size: cover;
        }
    }
}